@charset "UTF-8";
/*==========================================================
共通
==========================================================*/
@media screen and (max-width: 767px) {
  .is-pc {
    display: none !important;
  }
}

@media screen and (min-width: 768px) {
  .is-sp {
    display: none !important;
  }
}

body {
  color: #6C757D;
  font-size: 18px;
  line-height: 32px;
  font-family: "hiragino Mincho ProN", "Yu Mincho", sans-serif;
}

section {
  padding-bottom: 100px;
}

@media screen and (max-width: 767px) {
  section {
    padding-bottom: 50px;
  }
}

.section-title {
  font-size: 40px;
  font-weight: bold;
  color: #0A070E;
  line-height: 40px;
  padding-top: 50px;
  padding-bottom: 50px;
}

@media screen and (max-width: 767px) {
  .section-title {
    font-size: 32px;
  }
}

.container {
  width: 84.375%;
  max-width: 1080px;
  margin: auto;
}

@media screen and (max-width: 767px) {
  .container {
    width: 90%;
  }
}

.util-link-container {
  text-align: center;
}

.util-link-container .util-link-btn {
  font-size: 24px;
  font-family: "arial", sans-serif;
  color: #FBFBFD;
  padding: 28px 39px;
  text-decoration: none;
  background-color: #0171E3;
  border-radius: 12px;
  display: inline-block;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.util-link-container .util-link-btn:hover {
  cursor: pointer;
  opacity: .8;
}

@media screen and (max-width: 767px) {
  .util-link-container .util-link-btn:hover {
    opacity: 1;
  }
}

/*==========================================================
header
==========================================================*/
.header {
  height: 100px;
  width: 100%;
  background-color: transparent;
  position: fixed;
  top: 0;
  z-index: 500;
  -webkit-transition: all .7s;
  transition: all .7s;
}

@media screen and (max-width: 767px) {
  .header {
    height: 70px;
  }
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .container .header-logo {
  font-size: 48px;
  color: #0A070E;
  line-height: 100px;
  text-decoration: none;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .header .container .header-logo {
    font-size: 36px;
    line-height: 70px;
  }
}

.header .container .header-logo:hover {
  opacity: .6;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .header .container .header-logo:hover {
    opacity: 1;
  }
}

.header .container .drawer-hamburger {
  padding-top: 24px;
  padding-bottom: 41px;
}

@media screen and (min-width: 768px) {
  .header .container .drawer-nav {
    position: static !important;
    background-color: transparent;
    width: auto;
    margin-left: auto;
  }
}

.header .container .header-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .header .container .header-nav-list {
    display: block;
  }
}

.header .container .header-nav-list li {
  display: block;
}

@media screen and (max-width: 767px) {
  .header .container .header-nav-list li {
    margin-left: 40px;
  }
}

.header .container .nav-list {
  font-size: 24px;
  color: #0A070E;
  text-decoration: none;
  line-height: 100px;
  -webkit-transition: all .3s;
  transition: all .3s;
  display: block;
}

.header .container .nav-list:hover {
  opacity: .6;
  cursor: pointer;
}

.drawer-overlay {
  opacity: 0 !important;
}

.header-overlay {
  opacity: 1 !important;
  background-color: rgba(10, 7, 14, 0.6) !important;
}

.drawer-open .drawer-hamburger-icon::before {
  background-color: #FBFBFD;
  height: 3px;
}

.drawer-open .drawer-hamburger-icon::after {
  background-color: #FBFBFD;
  height: 3px;
}

.header .container .drawer-nav {
  width: 56.43519%;
  min-width: 430px;
  margin-left: auto;
}

@media screen and (max-width: 767px) {
  .header .container .drawer-nav {
    width: auto;
    min-width: 0;
  }
}

/*==========================================================
hero-area
==========================================================*/
.hero-area {
  width: 100%;
  height: 100vh;
  background: url(../images/hero-background.jpg) no-repeat top center/cover;
  position: relative;
}

.hero-area .hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: transparent -webkit-gradient(linear, left top, left bottom, from(#0A070E34), to(#5B595EDD)) 0% 0% no-repeat;
  background: transparent linear-gradient(180deg, #0A070E34 0%, #5B595EDD 100%) 0% 0% no-repeat;
}

.hero-area .container {
  position: absolute;
  top: 50%;
  left: 50%;
  right: 50%;
  -webkit-transform: translate3d(-50%, -40%, 0);
          transform: translate3d(-50%, -40%, 0);
}

.hero-area .container .hero-area-contents {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .hero-area .container .hero-area-contents {
    display: block;
  }
}

.hero-area .container .hero-area-contents .hero-icon-area {
  width: 34.259%;
}

@media screen and (max-width: 767px) {
  .hero-area .container .hero-area-contents .hero-icon-area {
    width: 70%;
    margin: auto;
  }
}

.hero-area .container .hero-area-contents .hero-icon-area img {
  width: 100%;
  height: 100%;
}

.hero-area .container .hero-area-contents .hero-text-area {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 46.0185%;
  margin-left: auto;
  color: #FBFBFD;
}

@media screen and (max-width: 767px) {
  .hero-area .container .hero-area-contents .hero-text-area {
    position: static;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    margin: auto;
    width: 100%;
  }
}

.hero-area .container .hero-area-contents .hero-text-area .my-name {
  font-size: 32px;
}

@media screen and (max-width: 767px) {
  .hero-area .container .hero-area-contents .hero-text-area .my-name {
    font-size: 28px;
    text-align: center;
  }
}

.hero-area .container .hero-area-contents .hero-text-area .my-info {
  padding-top: 50px;
}

@media screen and (max-width: 767px) {
  .hero-area .container .hero-area-contents .hero-text-area .my-info {
    padding-top: 20px;
  }
}

/*==========================================================
service
==========================================================*/
.service {
  padding-top: 50px;
}

@media screen and (max-width: 767px) {
  .service {
    padding-top: 0;
    padding-bottom: 20px;
  }
}

.service .service-contents-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .service .service-contents-area {
    display: block;
  }
}

.service .service-contents-area .service-area {
  width: 50%;
}

@media screen and (max-width: 767px) {
  .service .service-contents-area .service-area {
    width: 100%;
  }
}

.service .service-contents-area .service-area .service-img-container {
  width: 100%;
  padding-top: 74.07407%;
  position: relative;
}

.service .service-contents-area .service-area .service-img-container img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.service .service-contents-area .service-area .service-contents-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 32px;
  color: #FBFBFD;
  text-align: center;
  padding-top: 34px;
  padding-bottom: 34px;
  background-color: rgba(10, 7, 14, 0.6);
}

@media screen and (max-width: 767px) {
  .service .service-contents-area .service-area .service-contents-title {
    font-size: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.service .service-contents-area .service-area .service-text {
  color: #6C757D;
  width: 84.6296%;
  margin: auto;
  margin-top: 50px;
}

@media screen and (max-width: 767px) {
  .service .service-contents-area .service-area .service-text {
    margin-top: 15px;
    width: 100%;
    margin-bottom: 30px;
  }
}

/*==========================================================
price
==========================================================*/
.price {
  background-color: #FBFBFD;
}

.price .price-table {
  width: 74.0740%;
  margin: auto;
}

@media screen and (max-width: 767px) {
  .price .price-table {
    width: 100%;
  }
}

.price .price-table .table-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: solid 2px #707070;
  border-bottom: solid 2px #707070;
}

@media screen and (max-width: 767px) {
  .price .price-table .table-row {
    display: block;
    text-align: center;
  }
}

.price .price-table .table-row + .table-row {
  border-top: transparent;
}

.price .price-table .table-row .service-item {
  font-size: 24px;
  padding-left: 30px;
}

@media screen and (max-width: 767px) {
  .price .price-table .table-row .service-item {
    padding-left: 0;
  }
}

.price .price-table .table-row .table-price {
  font-size: 24px;
  margin-left: auto;
  padding-right: 30px;
}

@media screen and (max-width: 767px) {
  .price .price-table .table-row .table-price {
    margin-top: 15px;
    padding-right: 0;
  }
}

.price .price-table .price-caution {
  font-size: 16px;
}

.price .util-link-container {
  margin-top: 50px;
}

/*==========================================================
philosophy
==========================================================*/
@media screen and (max-width: 767px) {
  .philosophy .container {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .philosophy .container .section-title {
    width: 90%;
    margin: auto;
  }
}

.philosophy-contents {
  color: #FBFBFD;
  width: 100%;
  position: relative;
}

.philosophy-contents .philosophy-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: transparent -webkit-gradient(linear, left top, right top, from(#0A070ECB), color-stop(0%, #312E34), color-stop(100%, #5A585D00), to(#5B595E)) 0% 0% no-repeat;
  background: transparent linear-gradient(90deg, #0A070ECB 0%, #312E34 0%, #5A585D00 100%, #5B595E 100%) 0% 0% no-repeat;
}

@media screen and (max-width: 767px) {
  .philosophy-contents .philosophy-overlay {
    background-color: #0A070E;
    opacity: .7;
  }
}

.philosophy-contents .philosophy-title {
  font-size: 32px;
  padding-left: 30px;
  padding-top: 30px;
  position: relative;
}

@media screen and (max-width: 767px) {
  .philosophy-contents .philosophy-title {
    font-size: 26px;
    padding-left: 15px;
  }
}

.philosophy-contents .philosophy-title span {
  position: relative;
  padding-right: 30px;
}

@media screen and (max-width: 767px) {
  .philosophy-contents .philosophy-title span {
    padding-right: 15px;
  }
}

.philosophy-contents .philosophy-title span::after {
  position: absolute;
  content: "";
  bottom: -6px;
  left: 0;
  right: 0;
  width: 35px;
  height: 2px;
  background-color: #FBFBFD;
}

@media screen and (max-width: 767px) {
  .philosophy-contents .philosophy-title span::after {
    width: 28px;
  }
}

.philosophy-contents .philosophy-text {
  position: relative;
  padding-left: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 54.6296%;
  letter-spacing: 0px;
}

@media screen and (max-width: 767px) {
  .philosophy-contents .philosophy-text {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 16px;
  }
}

.philosophy-first {
  background: url(../images/philosophy1.jpg) no-repeat center center/cover;
}

.philosophy-second {
  background: url(../images/philosophy2.jpg) no-repeat center center/cover;
}

.philosophy-third {
  background: url(../images/philosophy3.jpg) no-repeat center center/cover;
}

.philosophy-third .philosophy-title span {
  padding-right: 15px;
}

@media screen and (max-width: 767px) {
  .philosophy-third .philosophy-title span {
    padding-right: 3px;
  }
}

/*==========================================================
works
==========================================================*/
.works {
  background-color: #FBFBFD;
}

.works .section-title {
  padding-bottom: 20px;
}

.works .works-description {
  padding-bottom: 50px;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .works .works-description {
    padding-bottom: 30px;
  }
}

.works .works-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.works .works-container .works-item {
  width: 32.4074%;
  position: relative;
  padding-top: 21.75926%;
  margin-right: 1.38889%;
  overflow: hidden;
}

.works .works-container .works-item:hover .works-overlay {
  background-color: rgba(10, 7, 14, 0.8);
}

.works .works-container .works-item:hover .works-detail {
  opacity: 1;
}

.works .works-container .works-item:hover img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

@media screen and (max-width: 767px) {
  .works .works-container .works-item {
    width: 100%;
    margin-right: 0;
    padding-top: 0;
    margin-top: 15px;
  }
}

.works .works-container .works-item:nth-child(3n) {
  margin-right: 0;
}

.works .works-container .works-item:nth-child(n+4) {
  margin-top: 15px;
}

.works .works-container .works-item img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
}

@media screen and (max-width: 767px) {
  .works .works-container .works-item img {
    position: static;
  }
}

.works .works-container .works-item .works-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(10, 7, 14, 0);
  border-radius: 10px;
  -webkit-transition: all .7s;
  transition: all .7s;
}

.works .works-container .works-item .works-detail {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  opacity: 0;
}

.works .works-container .works-item .work-category {
  font-size: 18px;
  color: #8C92A5;
  margin-top: 50px;
}

.works .works-container .works-item .work-title {
  font-size: 20px;
  color: #FBFBFD;
}

.works .works-container .works-item .duration {
  font-size: 18px;
  color: #8C92A5;
}

/*==========================================================
contact
==========================================================*/
.contact .section-title {
  padding-bottom: 20px;
}

.contact .contact-description {
  padding-bottom: 50px;
}

@media screen and (max-width: 767px) {
  .contact .contact-description {
    padding-bottom: 30px;
  }
}

.contact form {
  padding-bottom: 50px;
}

.contact form input {
  display: block;
  height: 50px;
  color: #0A070E;
  font-size: 16px;
  font-family: "hiragino Mincho ProN", "Yu Mincho", sans-serif;
  line-height: 50px;
  padding-left: 30px;
  background-color: #FBFBFD;
  border: solid 1px #E0E0E0;
}

.contact form input:focus {
  outline: solid 1px #0171E3;
}

.contact form .contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .contact form .contact-info {
    display: block;
  }
}

.contact form .contact-info input {
  width: 48.1481%;
}

@media screen and (max-width: 767px) {
  .contact form .contact-info input {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .contact form .contact-info input + input {
    margin-top: 15px;
  }
}

.contact form .contact-title-area {
  margin-top: 20px;
}

@media screen and (max-width: 767px) {
  .contact form .contact-title-area {
    margin-top: 15px;
  }
}

.contact form .contact-title-area input {
  width: 100%;
}

.contact form .contact-message-area {
  margin-top: 20px;
}

@media screen and (max-width: 767px) {
  .contact form .contact-message-area {
    margin-top: 15px;
  }
}

.contact form .contact-message-area .message {
  display: block;
  font-size: 16px;
  font-family: "hiragino Mincho ProN", "Yu Mincho", sans-serif;
  color: #0A070E;
  width: 100%;
  height: 200px;
  padding-left: 30px;
  padding-top: 14px;
  background-color: #FBFBFD;
  border: solid 1px #E0E0E0;
}

.contact form .submit {
  text-align: right;
  margin-top: 20px;
}

@media screen and (max-width: 767px) {
  .contact form .submit {
    text-align: center;
    margin-top: 50px;
  }
}

.contact form .submit .submit-btn {
  font-size: 20px;
  padding: 15px 30px;
  line-height: 20px;
  border: none;
}

@media screen and (max-width: 767px) {
  .contact form .submit .submit-btn {
    width: 80%;
    max-width: 270px;
    font-size: 24px;
    padding: 34px 16.07997%;
  }
}

.contact-message {
  text-align: center;
  margin-top: 60px;
  display: none;
}

.contact-message.-error {
  color: #f00;
}

input::-webkit-input-placeholder {
  font-size: 16px;
  font-family: "hiragino Mincho ProN", "Yu Mincho", sans-serif;
}

input:-moz-placeholder {
  font-size: 16px;
  font-family: "hiragino Mincho ProN", "Yu Mincho", sans-serif;
}

input::-moz-placeholder {
  font-size: 16px;
  font-family: "hiragino Mincho ProN", "Yu Mincho", sans-serif;
}

input:-ms-input-placeholder {
  font-size: 16px;
  font-family: "hiragino Mincho ProN", "Yu Mincho", sans-serif;
}

textarea::-webkit-input-placeholder {
  font-size: 16px;
  font-family: "hiragino Mincho ProN", "Yu Mincho", sans-serif;
}

textarea:-moz-placeholder {
  font-size: 16px;
  font-family: "hiragino Mincho ProN", "Yu Mincho", sans-serif;
}

textarea::-moz-placeholder {
  font-size: 16px;
  font-family: "hiragino Mincho ProN", "Yu Mincho", sans-serif;
}

textarea:-ms-input-placeholder {
  font-size: 16px;
  font-family: "hiragino Mincho ProN", "Yu Mincho", sans-serif;
}

/*==========================================================
footer
==========================================================*/
footer {
  background-color: #454955;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
}

footer .footer-logo {
  font-size: 48px;
  font-weight: bold;
  line-height: 48px;
  color: #FBFBFD;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  footer .footer-logo {
    font-size: 36px;
    display: block;
    text-align: center;
  }
}

footer .footer-logo:hover {
  cursor: pointer;
  opacity: .6;
}

@media screen and (max-width: 767px) {
  footer .footer-logo:hover {
    opacity: 1;
  }
}

footer .footer-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 20px;
}

@media screen and (max-width: 767px) {
  footer .footer-contents {
    display: block;
    margin-top: 10px;
  }
}

footer .footer-contents .sns-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  footer .footer-contents .sns-icon {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

footer .footer-contents .sns-icon a {
  text-decoration: none;
  display: block;
  height: 40px;
}

footer .footer-contents .sns-icon a:hover {
  cursor: pointer;
  opacity: .6;
}

@media screen and (max-width: 767px) {
  footer .footer-contents .sns-icon a:hover {
    opacity: 1;
  }
}

footer .footer-contents .sns-icon i {
  font-size: 40px;
  margin-right: 20px;
  color: #FBFBFD;
  width: 40px;
  height: 40px;
}

@media screen and (max-width: 767px) {
  footer .footer-contents .sns-icon i {
    margin-right: 10px;
    font-size: 32px;
    width: 32px;
    height: 32px;
  }
}

footer .footer-contents .sns-icon .fa-twitter {
  color: #454955;
  background-color: #FBFBFD;
  font-size: 30px;
  text-align: center;
  line-height: 40px;
  border-radius: 999px;
}

@media screen and (max-width: 767px) {
  footer .footer-contents .sns-icon .fa-twitter {
    font-size: 24px;
    line-height: 32px;
    margin-top: .3px;
  }
}

footer .footer-contents .copyright {
  color: #FBFBFD;
  margin-left: auto;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media screen and (max-width: 767px) {
  footer .footer-contents .copyright {
    font-size: 14px;
    text-align: center;
  }
}

footer .totop {
  position: fixed;
  bottom: 30px;
  right: 30px;
  font-size: 40px;
  display: none;
  -webkit-transition: all .5s;
  transition: all .5s;
}

footer .totop:hover {
  cursor: pointer;
  opacity: .6;
}

@media screen and (max-width: 767px) {
  footer .totop:hover {
    opacity: 1;
  }
}

@media screen and (max-width: 767px) {
  footer .totop {
    bottom: 20px;
    right: 20px;
  }
}
/*# sourceMappingURL=style.css.map */